.top-bar {
  padding-left: 15vw;
  padding-right: 15vw;
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  height: 75px;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.form-control {
  align-self: flex-end;
  height: 43px;
}

body {
  background-color: rgb(237, 240, 245);
  height: 100vh;
}

.main-content {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

.left-content {
  width: 60%;
}

.right-content {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.subscription-form {
  display: flex;
  flex-direction: column;
}

.person-name {
  display: flex;
}

.gender-input {
  display: flex;
}

.form-group label {
  color: white;
}
